@charset "UTF-8";

/*  TDB
---------------------------
tela pequena / 600px
celular / 600px - 768px
tablet / 768px - 992px
desktop / 992px - 1200px
tela grande / 1200px
*/



@media screen and (min-width: 768px) and (max-width: 992px) {
    section#loginArea {
        width: 90vw;
        height: 400px;
    }

    body  {
        background-image: linear-gradient(to right, #186da7, #ceeaee);
        background-color: none;
    }

    section#loginArea > div#imgArea {
        float: left;
        width: 35%;
        height: 100%;
    }

    section#loginArea > div#form {
        float: right;
        width: 65%;
    }

    div#form > p {
    font-size: 16px;
    }

    form > input[type=submit] {
        width: 100%;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3em;
        transition: width 0.5s, height 0.5s, font-size 0.5s;
    }

    form > input[type=submit]:hover {
        width: 160px;
        height: 40px;
        font-size: 1.3em;
        transition: background-color 0.3s, width 0.3s, height 0.3s, font-size 0.3s;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body  {
        background-image: linear-gradient(to right, #186da7, #ceeaee);
        background-color: none;
    }
    
    section#loginArea {
        width: 900px;
        height: 400px;
    }

    section#loginArea > div#imgArea {
        float: left;
        width: 35%;
        height: 100%;
    }

    section#loginArea > div#form {
        float: right;
        width: 65%;
    }

    div#form > p {
    font-size: 16px;
    }

      form > input[type=submit] {
        width: 140px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3em;
        transition: width 0.5s, height 0.5s, font-size 0.5s;
    }

    form > input[type=submit]:hover {
        width: 150px;
        height: 55px;
        font-size: 1.4em;
        transition: background-color 0.3s, width 0.3s, height 0.3s, font-size 0.3s;
    }
}

@media screen and (min-width: 1200px) and (max-width: 4000px) {
    body  {
        background-image: linear-gradient(to right, #186da7, #ceeaee);
        background-color: none;
    }
    
    section#loginArea {
        width: 1200px;
        height: 400px;
    }

    section#loginArea > div#imgArea {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#loginArea > div#form {
        float: left;
        width: 50%;
    }

    div#form > p {
    font-size: 18px;
    }

    form > input[type=submit] {
        width: 120px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3em;
        transition: width 0.5s, height 0.5s, font-size 0.5s;
    }

    form > input[type=submit]:hover {
        width: 130px;
        height: 45px;
        font-size: 1.4em;
        transition: background-color 0.3s, width 0.3s, height 0.3s, font-size 0.3s;
    }
}