@charset "UTF-8";

/* Peleta de cores
    azul: #186da7
    prata-azulado: #5989a8

*/

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #186da7;
    background-image: linear-gradient(to top, #186da7, #ceeaee);
    height: 100vh;
    width: 100wh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#loginArea {
    position: absolute;
    background-color: white;
    width: 370px;
    height: 590px;
    border-radius: 20px;
    overflow: hidden;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;  
    transition-timing-function: ease;
}

section#loginArea > div#imgArea {
    display: block;
    background-color: burlywood;
    background-image: url(../imagens/edificio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
}

section#loginArea > div#form {
    padding: 10px;
}

div.camp{
    background-color: #2a8b7f;
    width: 100%;
    height: 40px;
    border-radius: 10px 20px 20px 10px;
    margin: 5px 0px;
    border: 3px solid #2a8b7f;
}

.camp > input {
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px 20px 20px 10px;
    background-color: rgb(185, 255, 255);
    transform: translateY(-11px);
}

.camp > span {
    color: white;
    background-color:none;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    margin-top: -4px;
}
.camp > label {
    display: none;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 1em;
}

div#form > p {
    font-size: 14px;

}

div#form > form > a {
    font-size: 12px;
    color: gray;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: #186da7;
    border-style: none;
    border-radius: 10px 20px 20px 10px;
    border-color: rgba(128, 128, 128, 0.555);
    color: whitesmoke;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2981bb;
    border-style: none;
}

#links {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    padding-top: 5px;

    height: 40px;
    width: 100px;
    justify-content: center;
    
    
}

#links > a {
    margin: 15px 15px 15px 15px;    
    
}

#links > a:hover {
    transform: rotate(10deg);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* media querys abaixo */

/*  TDB
---------------------------
tela pequena / 600px
celular / 600px - 768px
tablet / 768px - 992px
desktop / 992 - 1200px
tela grande / 1200px
*/



